.meditacoes {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.meditacoes > img {
  width: 40%;
}

.meditacoes > p {
  text-align: center;
  font-size: 21px;
  width: 80%;
  margin: 0;
}

.spotify {
  width: 60%;
  height: 100%;
}

@media (max-width: 1000px) {
  .spotify {
    width: 80%;
  }

  .meditacoes > img {
    min-width: 300px;
  }

  .meditacoes > p {
    text-align: center;
    font-size: 18px;
    margin: 0;
  }
}
