.edicao {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #afbfae;
}

.edicao-imagem {
  display: none;
}

.edicao label .imagem-usuario {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 120px;
  cursor: pointer;
}

.perfil-input {
  background-color: transparent;
  border: 0;
  text-align: center;
  margin-bottom: 8px;
  outline: 0;
}

.nome {
  font-size: 32px;
}
