.link-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link-menu-imagem {
  width: 24px;
  fill: #8a8a8a;
  transition: 0.3s;
}

.link-menu-texto {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  transition: 0.3s;
}

.link-menu:hover {
  color: #d06c57;
}

.link-menu:hover > .link-menu-imagem {
  fill: #d06c57;
}

.link-menu-ativo {
  color: #d06c57;
}

.link-menu-ativo > .link-menu-imagem {
  fill: #d06c57;
}
