.input {
  border: 0.5px solid #ececec;
  border-radius: 4px;
  padding: 4px 8px;
  color: #4d4c4c;

  outline: none;
  transition: 0.2s;
}

.input:focus {
  box-shadow: 0 0 0 2px rgb(236, 236, 236, 0.6);
}

.input-container {
  display: flex;
  min-width: 240px;
  flex-direction: column;
}

.input-label {
  font-size: 10px;
  color: #4d4c4c;
}
