.menu {
  width: 5%;
  height: 100vh;
  padding: 5% 60px;
  transition: width 0.2s linear;
}

.menu-ativado {
  width: 20%;
  transition: all 0.5s ease;
}

.menu-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-botao {
  background-color: transparent;
  width: min-content;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.menu > nav {
  display: flex;
  position: relative;
  height: 90%;
}

.menu-navegacao {
  display: flex;
  flex-direction: column;
  height: 100%;

  gap: 24px;
  padding-left: 0;
  list-style: none;
  margin-top: 40px;
}

.menu-icone {
  width: 24px;
}
