.menu {
  width: 5%;
  height: 100vh;
  padding: 5% 60px;
  transition: width 0.2s linear;
}

.menu:hover {
  width: 20%;
  transition: all 0.5s ease;
}

.menu > header > .menu-icone {
  width: 1em;
}

.menu:hover > header > .menu-icone {
  visibility: hidden;
}

.menu > header > .menu-icone + img {
  visibility: hidden;
}

.menu:hover > header > .menu-icone + img {
  visibility: visible;
  width: 64px;
}

.menu > nav {
  display: flex;
  position: relative;
  height: 90%;
}

.menu-navegacao {
  display: flex;
  flex-direction: column;
  height: 100%;

  gap: 24px;
  padding-left: 0;
  list-style: none;
  margin-top: 40px;
}

.menu-icone {
  width: 64px;
}
